<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <img src="assets/img/reconstruction-building.jpg">

    <ion-fab-button>
      <ion-icon name="pin"></ion-icon>
    </ion-fab-button>

    <ion-item>
      <ion-icon name="business-outline" style="font-size:50px;margin-right: 10px;"></ion-icon>
      <h2>Residential Building</h2>
      <!-- <p>Hamra Makdisi Street, Hamra, 1103 Beirut, Lebanon</p> -->
    </ion-item>

    <ion-item>
        <ion-icon name="location-outline" style="margin-right: 5px;"></ion-icon>
      <span item-start>Hamra Makdisi Street, Hamra, 1103 Beirut, Lebanon</span>
      <!-- <span item-start>(2.6 mi)</span> -->

    </ion-item>

  </ion-card>
</ion-content>
