<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="citizen-menu"></ion-menu-button>
      <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title>Citizen</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Subheader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">

    <!-- Timeline -->
    <div class="timeline timeline-left">
      <div class="timeline-container">

        <div class="timeline-row">
          <div class="timeline-icon">
            <div class="bg-grey-400">
              <i class="icon-hour-glass2">
                <ion-icon style="zoom:1.4; padding-left: 1px; padding-top: 5px;" name="hourglass-outline"></ion-icon>
              </i>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="panel border-left-lg border-left-grey timeline-content">
                <div class="panel-body">

                  <div class="row">

                    <div class="col-md-8">
                      <h6 class="no-margin-top"><a href="javascript:void(0)" class="text-grey-400">The order is ready</a></h6>
                      <!-- <p class="mb-15">عملية التفتيش Pending
													</p> -->
                    </div>
                    <div class="col-md-4">
                      <ul class="list task-details" style="list-style: none;">
                        <li>January 28, 2020</li>
                        <!-- <li><a href="javascript:void(0)">Eternity app</a></li> -->
                      </ul>
                    </div>
                  </div>

                </div>

                <div class="panel-footer panel-footer-condensed">
                  <div class="heading-elements">
                    <span class="heading-text">
                      <ion-icon name="timer-outline"></ion-icon>
                      <span class="text-semibold">Pending</span>
                    </span>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="timeline-row">
          <div class="timeline-icon">
            <div class="bg-grey-400">
              <i class="icon-hour-glass2">
                <ion-icon style="zoom:1.4; padding-left: 1px; padding-top: 5px;" name="hourglass-outline"></ion-icon>
              </i>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="panel border-left-lg border-left-grey timeline-content">
                <div class="panel-body">

                  <div class="row">

                    <div class="col-md-8">
                      <h6 class="no-margin-top"><a href="javascript:void(0)" class="text-grey-400">The approval of the mayor</a></h6>
                      <!-- <p class="mb-15">عملية التفتيش Pending
													</p> -->
                    </div>
                    <div class="col-md-4">
                      <ul class="list task-details" style="list-style: none;">
                        <li>January 28, 2020</li>
                        <!-- <li><a href="javascript:void(0)">Eternity app</a></li> -->
                      </ul>
                    </div>
                  </div>

                </div>

                <div class="panel-footer panel-footer-condensed">
                  <div class="heading-elements">
                    <span class="heading-text">
                      <ion-icon name="timer-outline"></ion-icon>
                      <span class="text-semibold">Pending</span>
                    </span>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- REQUEST -->
        <div class="timeline-row">
          <div class="timeline-icon">
            <div class="bg-grey-400">
              <i class="icon-hour-glass2">
                <ion-icon style="zoom:1.4; padding-left: 1px; padding-top: 5px;" name="hourglass-outline"></ion-icon>
              </i>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="panel border-left-lg border-left-grey timeline-content">
                <div class="panel-body">

                  <div class="row">

                    <div class="col-md-8">
                      <h6 class="no-margin-top"><a href="javascript:void(0)" class="text-grey-400">Study the application in the inspection department</a></h6>
                      <!-- <p class="mb-15">عملية التفتيش Pending
													</p> -->
                    </div>
                    <div class="col-md-4">
                      <ul class="list task-details" style="list-style: none;">
                        <li>January 28, 2020</li>
                        <!-- <li><a href="javascript:void(0)">Eternity app</a></li> -->
                      </ul>
                    </div>
                  </div>

                </div>

                <div class="panel-footer panel-footer-condensed">
                  <div class="heading-elements">
                    <span class="heading-text">
                      <ion-icon name="timer-outline"></ion-icon>
                      <span class="text-semibold">Pending</span>
                    </span>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /REQUEST -->

        <!-- REQUEST -->
        <div class="timeline-row">
          <div class="timeline-icon">
            <div class="bg-primary-400">
              <i class="icon-hour-glass2">
                <ion-icon style="zoom:1.4; padding-left: 1px; padding-top: 5px;" name="checkmark-done-outline"></ion-icon>
              </i>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="panel border-left-lg border-left-primary timeline-content">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-8">
                      <h6 class="no-margin-top"><a href="javascript:void(0)">Confirm the order information</a>
                      </h6>
                      <p class="mb-15">Personal information has been reviewed with approval </p>
                    </div>
                    <div class="col-md-4">
                      <ul class="list task-details" style="list-style: none;">
                        <li>January 28, 2020</li>
                        <!-- <li><a href="javascript:void(0)">Eternity app</a></li> -->
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="panel-footer panel-footer-condensed">
                  <div class="heading-elements">
                    <span class="heading-text">
                      <ion-icon name="timer-outline"></ion-icon>
                      <span>18 hours ago</span>
                    </span>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /REQUEST -->


        <!-- REQUEST -->
        <div class="timeline-row">
          <div class="timeline-icon">
            <div class="bg-primary-400">
              <i class="icon-hour-glass2">
                <ion-icon style="zoom:1.4; padding-left: 1px; padding-top: 5px;" name="checkmark-done-outline"></ion-icon>
              </i>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="panel border-left-lg border-left-primary timeline-content">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-8">
                      <h6 class="no-margin-top"><a href="javascript:void(0)">Ensure that the files are correct</a></h6>
                      <p class="mb-15">The attached documents have been successfully validated</p>
                    </div>
                    <div class="col-md-4">
                      <ul class="list task-details" style="list-style: none;">
                        <li>January 28, 2020</li>
                        <!-- <li><a href="javascript:void(0)">Eternity app</a></li> -->
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="panel-footer panel-footer-condensed">
                  <div class="heading-elements">
                    <span class="heading-text">
                      <ion-icon name="timer-outline"></ion-icon>
                      <span>20 hours ago</span>
                    </span>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /REQUEST -->




        <!-- REQUEST -->
        <div class="timeline-row">
          <div class="timeline-icon">
            <div class="bg-primary-400">
              <i class="icon-hour-glass2">
                <ion-icon style="zoom:1.4; padding-left: 1px; padding-top: 5px;" name="checkmark-done-outline"></ion-icon>
              </i>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="panel border-left-lg border-left-primary timeline-content">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-8">
                      <h6 class="no-margin-top"><a href="javascript:void(0)">Ensure that the files are correct</a></h6>
                      <p class="mb-15">The attached documents have been successfully validated</p>
                    </div>
                    <div class="col-md-4">
                      <ul class="list task-details" style="list-style: none;">
                        <li>January 28, 2020</li>
                        <!-- <li><a href="javascript:void(0)">Eternity app</a></li> -->
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="panel-footer panel-footer-condensed">
                  <div class="heading-elements">
                    <span class="heading-text">
                      <ion-icon name="timer-outline"></ion-icon>
                      <span>23 hours ago</span>
                    </span>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /REQUEST -->
      </div>
    </div>
    <!-- /timeline -->
  </div>

</ion-content>
