<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="citizen-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Municipality circulars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <img src="https://presales-etgs.com/demo/E-Gov/assets/images/image.jfif">


    <ion-item>
      <ion-icon name="bookmarks-outline" style="font-size:40px;margin-right: 10px;"></ion-icon>
      <h2>City streets decorations</h2>
      <!-- <p>Hamra Makdisi Street, Hamra, 1103 Beirut, Lebanon</p> -->
    </ion-item>

    <ion-item>
        <!-- <ion-icon name="book-outline" style="margin-right: 5px;"></ion-icon> -->
      <span item-start class="spanpad">The meeting of the committee in charge of the Municipal Council on the subject of Zeina Shwar AR Madina at the headquarters of the Chamber of Commerce and Industry</span>
      <!-- <span item-start>(2.6 mi)</span> -->

    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" style="margin-right: 5px;"></ion-icon>
    <span item-start>One year ago</span>
    <!-- <span item-start>(2.6 mi)</span> -->

  </ion-item>

  </ion-card>

  <ion-card>

    <img src="https://presales-etgs.com/demo/E-Gov/assets/images/image-2.jfif">


    <ion-item>
      <ion-icon name="bookmarks-outline" style="font-size:40px;margin-right: 10px;"></ion-icon>
      <h2>Residential Building</h2>
      <!-- <p>Hamra Makdisi Street, Hamra, 1103 Beirut, Lebanon</p> -->
    </ion-item>

    <ion-item>
        <!-- <ion-icon name="book-outline" style="margin-right: 5px;"></ion-icon> -->
      <span item-start class="spanpad">Member of the Beirut Municipal Council, lawyer Ragheb Haddad, in launching the HackthE startups and initiatives competition</span>
      <!-- <span item-start>(2.6 mi)</span> -->

    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" style="margin-right: 5px;"></ion-icon>
    <span item-start>One year ago</span>
    <!-- <span item-start>(2.6 mi)</span> -->

  </ion-item>

  </ion-card>


  <ion-card>

    <img src="https://presales-etgs.com/demo/E-Gov/assets/images/image-4.jfif">


    <ion-item>
      <ion-icon name="bookmarks-outline" style="font-size:40px;margin-right: 10px;"></ion-icon>
      <h2>Solid waste management and sanitation</h2>
      <!-- <p>Hamra Makdisi Street, Hamra, 1103 Beirut, Lebanon</p> -->
    </ion-item>

    <ion-item>
        <!-- <ion-icon name="book-outline" style="margin-right: 5px;"></ion-icon> -->
      <span item-start class="spanpad">The global conference on solid waste management and sanitation to improve economic growth</span>
      <!-- <span item-start>(2.6 mi)</span> -->

    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" style="margin-right: 5px;"></ion-icon>
    <span item-start>One year ago</span>
    <!-- <span item-start>(2.6 mi)</span> -->

  </ion-item>

  </ion-card>

</ion-content>
