<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <img src="assets/img/reconstruction-building.jpg">

    <ion-fab-button>
      <ion-icon name="location" color="test"></ion-icon>
    </ion-fab-button>

    <ion-item>
      <ion-icon name="business-outline" style="font-size:50px;margin-right: 10px;"></ion-icon>
      <h2>Residential Building</h2>
      <!-- <p>Hamra Makdisi Street, Hamra, 1103 Beirut, Lebanon</p> -->
    </ion-item>

    <ion-item>
        <ion-icon name="location-outline" style="margin-right: 5px;"></ion-icon>
      <span item-start>Hamra Makdisi Street, Hamra, 1103 Beirut, Lebanon</span>
      <!-- <span item-start>(2.6 mi)</span> -->

    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" style="margin-right: 5px;"></ion-icon>
    <span item-start>18-3-2020</span>
    <!-- <span item-start>(2.6 mi)</span> -->

  </ion-item>

  </ion-card>


  <ion-card>

    <img src="assets/img/ad.jpeg">

    <ion-fab-button>
      <ion-icon name="location" color="test"></ion-icon>
    </ion-fab-button>

    <ion-item>
      <ion-icon name="business-outline" style="font-size:50px;margin-right: 10px;"></ion-icon>
      <h2>Temporary advertising</h2>
      <!-- <p>Hamra Makdisi Street, Hamra, 1103 Beirut, Lebanon</p> -->
    </ion-item>

    <ion-item>
        <ion-icon name="location-outline" style="margin-right: 5px;"></ion-icon>
      <span item-start>Alfred Naccache Street, Achrafieh , 1042 Beirut, Lebanon</span>
      <!-- <span item-start>(2.6 mi)</span> -->

    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" style="margin-right: 5px;"></ion-icon>
    <span item-start>15-3-2020</span>
    <!-- <span item-start>(2.6 mi)</span> -->

  </ion-item>

  </ion-card>

</ion-content>
